.App {
  text-align: center;
}

.spotify {
  margin: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.spotify {
  margin: 10px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.recipe-name {
  font-weight: bold;
  font-size: 1em;
}

.recipe-summary {
  font-style: italic;
  font-size: 0.7em;
}

.time-text {
  font-size: 0.7em;
  font-weight: bolder;
}

.recipe-card {
  position: relative;
  color: rgb(48, 76, 44);
  background-color: rgba(255, 255, 255, 0.757);
  width: 300px;
  height: 400px;
  padding: 15px;
  margin-bottom: 20px;
  overflow-y: hidden;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #00000049;
  box-sizing: border-box;
}

.recipe-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.all-recipes {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* padding-left: 30%; */
}

.popup-container {
  height: 80%;
  width: 50%;
  background-color: rgb(255, 255, 255);
  position: center;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.411);
}

.popup.recipe-image {
  position: absolute;
  top: 15px;
  left: 30%;
  /* .center; */
}

.sidebar {
  display: flex;
  justify-content: space-around ;
 padding-left: 50px;
 padding-right: 50px;
}

.ign-name {
  background-color: #f1f1f1;
  width: 200px;
 
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  height: 100px; 
  margin: auto;
  
}

.categ {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.content {
  flex-wrap: space-between;
}









.recipe-name {
  font-weight: bold;
  font-size: 1em;
}

.recipe-summary {
  font-style: italic;
  font-size: 0.7em;
}

.time-text {
  font-size: 0.7em;
  font-weight: bolder;
}

.recipe-card {
  position: relative;
  color: rgb(48, 76, 44);
  background-color: rgba(255, 255, 255, 0.757);
  width: 300px;
  height: 400px;
  padding: 15px;
  margin-bottom: 20px;
  overflow-y: hidden;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #00000049;
  box-sizing: border-box;
}

.recipe-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.all-recipes {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 30%;
}

.popup-container {
  height: 80%;
  width: 50%;
  background-color: rgb(255, 255, 255);
  position: center;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.411);
}

.popup.recipe-image {
  position: absolute;
  top: 15px;
  left: 30%;
  /* .center; */
}